# Firebase Configuration API Keys
# Duplicate this file as '.env' and fill in your actual credentials from the Firebase Console

VITE_FIREBASE_API_KEY="AIzaSyDTRBH9r3r5uw46M4HeithE2g9T7ibP-rU",
VITE_FIREBASE_AUTH_DOMAIN="campcraft-db2c9.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="campcraft-db2c9"
VITE_FIREBASE_STORAGE_BUCKET="campcraft-db2c9.appspot.com"
VITE_FIREBASE_MESSAGING_SENDER_ID="362343765212"
VITE_FIREBASE_APP_ID="1:362343765212:web:e63ae95b9928d780561019"
const firebaseConfig = {
  apiKey: "AIzaSyDTRBH9r3r5uw46M4HeithE2g9T7ibP-rU",
  authDomain: "campcraft-db2c9.firebaseapp.com",
  projectId: "campcraft-db2c9",
  storageBucket: "campcraft-db2c9.firebasestorage.app",
  messagingSenderId: "362343765212",
  appId: "1:362343765212:web:e63ae95b9928d780561019",
  measurementId: "G-3W6KRRQC9D"
};